= render "header"
= render "navibar"
.logout-main
  .logout-container
    .logout-signout
      %input.logout-signout__btn{type: "submit", value: "ログアウト"}
  = render "sidebar"
= render "banner"
= render "footer"