.sms-confirmation-header.user-sign-up-header
  .sms-confirmation-logo.user-sign-up-logo
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", alt: "ロゴマーク", class: "user-sign-up-logo__mark"
  .sms-confirmation-header-right.user-sign-up-header-right
    .line-start
      .line-start__line1
      .line-start__line2
    .progress
      %p.progress__pages 会員情報
      %p.progress__point.active ●
    .progress
      %p.progress__pages.active 電話番号認証
      %p.progress__point.active ●
    .progress
      %p.progress__pages お届け先住所入力
      %p.progress__point ●
    .progress
      %p.progress__pages 支払い方法
      %p.progress__point ●
    .progress
      %p.progress__pages 完了
      %p.progress__point ●
.sms-confirmation-main
  .sms-confirmation-container
    %h2.sms-confirmation-container__top 電話番号の確認
    .sms-confirmation-content
      = form_with(model: @user, url: users_sign_up_sms_confirmed_path, local: true, method: :get, class: "sms-confirmation-form") do |f|
        .sms-confirmation-phonenum
          %p.sms-confirmation-phonenum__top 携帯電話の番号
          = f.text_field :phone_number, placeholder: "電話番号を入力してください", class: 'sms-confirmation-phonenum__input', value: ""
          %br/
        - if @user.errors.any?
          - if @user.errors[:phone_number]
            .error-messages
              - @user.errors.full_messages_for(:phone_number).each do |error|
                .error-message
                  = error
        %p.sms-confirmation-caution 本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して認証を行います。
        .sms-confirmation-next
          = f.submit "SMSを送信する", class:'btn'
          %br/
        %p.sms-confirmation-next__btn ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .sms-confirmation-registor
          = link_to "#", class: "sms-confirmation-registor__link" do
            電話番号が必要な理由
            %i.fas.fa-angle-right.fa-large
= render "sign_up/login_footer"