%body.sign-up-body
  .sign-up-header
    .sign-up-header-logo
      = link_to “＃”
        = image_tag "fmarket_logo_red.svg", alt: "ロゴマーク", class: "sign-up-header-logo__mark"
  .sign-up-main
    .sign-up-container
      %h2.sign-up-container__top 新規会員登録
      %ul.sign-up-content
        %li.sign-up-content__menu.mail
            メールアドレスで登録する
          = link_to “＃” do
            %i.far.fa-envelope.fa-large>
            会員登録
        %li.sign-up-content__menu.facebook
          = link_to “＃” do
            %i.fab.fa-facebook-square.fa-large>
            Facebookで登録する
        %li.sign-up-content__menu.google
          = link_to “＃” class:"googletext" do
            %i.fab.fa-google.fa-large>
            Googleで登録する
  = render "footer"
  