.main
  %noscript
  .slide-screen
    = image_tag "img2.jpg", class:"mypage-user-icon__img",width:"100%",height:"390px"
  / ##人気のカテゴリーリンク
  .popular__link
    %h2.popular__link__h 人気のカテゴリー
    .category__box
      %ul.category__box__text
        %li.category__box__text__1
          =link_to ' レディース ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' メンズ ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' 家電・スマホ・カメラ ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' おもちゃ・ホビー・グッズ ', "#", class:"category__box__text__a"
  / ##人気カテゴリー本体
  .popular__body
    / ##レディース
    .category__body__1
      .category__body__1__text
        %h.category__body__1__text__h レディース新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      / ##商品１
      %ul.category__body__1__itemlist__itembox
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ
    / ##メンズ
    .category__body__1
      .category__body__1__text
        %h.category__body__1__text__h メンズ新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      %ul.category__body__1__itemlist__itembox
        %li.category__body__1__itemlist__itembox__item
          %div{style:"visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
            =link_to "#", class:"link_to_item__1" do
              %figure.item_detail__1
                .item_figure__1
                  %span.item_figure__1__price{"aria-label" => "Price"}
                    ¥10,000
                  = image_tag "img1.jpg", class:"item_figure__1__img",width:"188",height:"188px"
                .captionbox
                  %figcaption
                    %span
                      グラマラススパッツMサイズ

    / ##家電
    .category__body__1
      .category__body__1__text
        .category__body__1__text__h 家電・スマホ・カメラ
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      %ul.category__body__1__itemlist__itembox

    / ##人気のブランドリンク
    .popular__link
      %h2.popular__link__h 人気のカテゴリー
      .category__box
        %ul.category__box__text
          %li.category__box__text__1
            =link_to 'シャネル', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'ルイヴィトン', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'シュプリーム', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'ナイキ', "#", class:"category__box__text__a"
    / ##人気ブランドー本体
    .popular__body
      / ##シャネル
      .category__body__1
        .category__body__1__text
          %h.category__body__1__text__h シャネル新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox

      / ##ルイヴィトン
      .category__body__1
        .category__body__1__text
          %h.category__body__1__text__h ルイヴィトン新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox

      / ##ナイキ
      .category__body__1
        .category__body__1__text
          .category__body__1__text__h ナイキ
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox

