.main
  %noscript
  .slide-screen
    =link_to "#", target:"_blank" do
      =image_tag "img2.jpg", class:"mypage-user-icon_img",width:"100%",height:"390px"
  / ##人気のカテゴリーリンク
  .popular__link
    %h2.popular__link__h 人気のカテゴリー
    .category__box
      %ul.category__box__text
        %li.category__box__text__1
          =link_to ' レディース ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' メンズ ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' 家電・スマホ・カメラ ', "#", class:"category__box__text__a"
        %li.category__box__text__1
          =link_to ' おもちゃ・ホビー・グッズ ', "#", class:"category__box__text__a"
  / ##人気カテゴリー本体
  .popular__body
    / ##レディース
    .category__body__1
      .category__body__1__text
        %h.category__body__1__text__h レディース新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      / ##商品１
      %ul.category__body__1__itemlist__itembox
        - @ladys.each do |item|
          - if item.buyer_id.present?
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px",alt:"no_image"
                    .buied_label
                  .captionbox
                    %figcaption
                      %span
                        = item.name
          - else
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px",alt:"no_image"
                  .captionbox
                    %figcaption
                      %span
                        = item.name
    / ##メンズ
    .category__body__1
      .category__body__1__text
        %h.category__body__1__text__h メンズ新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      %ul.category__body__1__itemlist__itembox
        - @mans.each do |item|
          - if item.buyer_id.present?
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .buied_label
                  .captionbox
                    %figcaption
                      %span
                        = item.name
          - else
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                  .captionbox
                    %figcaption
                      %span
                        = item.name

    / ##家電
    .category__body__1
      .category__body__1__text
        .category__body__1__text__h 家電・スマホ・カメラ新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      %ul.category__body__1__itemlist__itembox
        - @appliances.each do |item|
          - if item.buyer_id.present?
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .buied_label
                  .captionbox
                    %figcaption
                      %span
                        = item.name
          - else
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                  .captionbox
                    %figcaption
                      %span
                        = item.name

    / ##ホビー
    .category__body__1
      .category__body__1__text
        .category__body__1__text__h おもちゃ・ホビー・グッズ新着アイテム
        =link_to "#", class:"category__body__1__text__a" do
          もっと見る
          %i.fas.fa-angle-right.fa-large
      %ul.category__body__1__itemlist__itembox
        - @toys.each do |item|
          - if item.buyer_id.present?
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .buied_label
                  .captionbox
                    %figcaption
                      %span
                        = item.name
          - else
            %li.category__body__1__itemlist__itembox__item
              =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                %figure.item_detail__1
                  .item_figure__1
                    %span.item_figure__1__price{"aria-label" => "Price"}
                      %p ¥#{item.price}
                    = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                  .captionbox
                    %figcaption
                      %span
                        = item.name
    / ##人気のブランドリンク
    .popular__link
      %h2.popular__link__h 人気のカテゴリー
      .category__box
        %ul.category__box__text
          %li.category__box__text__1
            =link_to 'シャネル', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'ルイヴィトン', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'シュプリーム', "#", class:"category__box__text__a"
          %li.category__box__text__1
            =link_to 'ナイキ', "#", class:"category__box__text__a"
    / ##人気ブランドー本体
    .popular__body
      / ##シャネル
      .category__body__1
        .category__body__1__text
          %h.category__body__1__text__h シャネル新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox
          - @chanels.each do |item|
            - if item.buyer_id.present?
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                      .buied_label
                    .captionbox
                      %figcaption
                        %span
                          = item.name
            - else
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .captionbox
                      %figcaption
                        %span
                          = item.name
      / ##ルイヴィトン
      .category__body__1
        .category__body__1__text
          %h.category__body__1__text__h ルイヴィトン新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox
          - @vuittons.each do |item|
            - if item.buyer_id.present?
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                      .buied_label
                    .captionbox
                      %figcaption
                        %span
                          = item.name
            - else
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .captionbox
                      %figcaption
                        %span
                          = item.name
      / ##シュプリーム
      .category__body__1
        .category__body__1__text
          .category__body__1__text__h シュプリーム新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox
          - @supremes.each do |item|
            - if item.buyer_id.present?
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                      .buied_label
                    .captionbox
                      %figcaption
                        %span
                          = item.name
            - else
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .captionbox
                      %figcaption
                        %span
                          = item.name
      / ##ナイキ
      .category__body__1
        .category__body__1__text
          .category__body__1__text__h ナイキ新着アイテム
          =link_to "#", class:"category__body__1__text__a" do
            もっと見る
            %i.fas.fa-angle-right.fa-large
        %ul.category__body__1__itemlist__itembox
          - @nikes.each do |item|
            - if item.buyer_id.present?
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                      .buied_label
                    .captionbox
                      %figcaption
                        %span
                          = item.name
            - else
              %li.category__body__1__itemlist__itembox__item
                =link_to "#{item_path(item.id)}", class:"link_to_item__1" do
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        %p ¥#{item.price}
                      = image_tag "#{item.images[0].image_url}", class:"item_figure__1__img",width:"188",height:"188px"
                    .captionbox
                      %figcaption
                        %span
                          = item.name