.confirm____container
  .confirm__simple__header
    = link_to "#" do
      = image_tag 'fmarket_logo_red.svg'
  .buydone-main
    .wait
      %p.please_wait
        %i.far.fa-clock
        発想をお待ちください
      %p.under-please_wait 出品者からの発想通知をお待ちください
    .buy-complete
      %h2.buy-complete-text 購入が完了しました
    .after-buy-done-flow
      %h3 発送通知後の流れ
      %i.fas.fa-smile-beam
      %i.fas.fa-meh
      %i.fas.fa-tired
      %p
        商品を受け取ったら
        %br>/
        出品者の評価をしましょう。
        %br>/
        購入代金が出品者に振り込まれます。
        %br>/
        評価後に取引は完了です
      = link_to "マイページへもどる", '/', class:"redirect-mypage"

  .signup__footer
    .signup__footer__detail
      = link_to "プライバシーポリシー"
      = link_to "メルカリ利用規約"
      = link_to "特定商取引に関する表記"
    .signup__footer__logo
      = link_to root_path do
        = image_tag "logo_gray.svg"
    %p
      %small © Mercari, Inc.
