#sell
  %header.header
    %h1
      = link_to "https://www.mercari.com/jp/" do
        = image_tag 'fmarket_logo_red.svg', alt: 'mercari', height: '49px', width: '185', class: 'header__logo'
  %main.main
    %section.main__block
      = form_with model:@item, local:true do |f|
        %h2.sell__block__head
          商品の情報を入力
        .sell__block__form
          .sell__block__form__upload
            %h3.sell__block__form__upload__head
              出品画像
              %span.require 必須
            %p 最大10枚までアップロードできます
            .sell__block__.image__0
              .sell__block__form__upload__box
                .sell__block__upload__drop__have__item
                = f.fields_for :images do |i|
                  = i.label :image, class: "display__upload" do
                    = i.file_field :image, type: 'file', name: "item[images_attributes][0][image_url]"
                    %pre.display__upload
                      ドラッグアンドドロップ
                      %br>/
                      またはクリックしてファイルをアップロード

                      
                  %img.preview/
          .sell__block__form__name
            .form-group__name
              %label
                商品名
                %span.require 必須
              %div
                = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name"
            .form-group__description
              %label
                商品の説明
                %span.require 必須
              %div
                = f.text_area :description, {placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",rows: "5", class: "textarea__default" }
          .sell__block__form__detail
            %h3.sell__detail 商品の詳細
            .sell__block__form__detail__box
              .form-group
                %label
                  カテゴリー
                  %span.require 必須
                  .select-wrapp
                    = f.collection_select :category_id, Category.all, :id, :name, {include_blank: '----'}, {class: "select-default"}
                    %i.icon-arrow-bottom
              .form-group
                %label
                  商品の状態
                  %span.require 必須
                %div
                  .select-wrapp
                    %i.icon-arrow-bottom
                    = f.collection_select :condition_id, Condition.all, :id, :name, {include_blank: '---'}, {class: "select-default"}

          .sell__block__form__delivery
            %h3.sell__delivery 配送について
            = link_to "?", "/jp/help_center/article/68/", class:"form-question",target: "_blank"
            .sell__block__form__delivery__box
              .form-group
                %label
                  配送料の負担
                  %span.require 必須
                .select-wrapp
                  %i.icon-arrow-bottom
                  = f.select :postageburden_id, [[ "---",""], [ "送料込み(出品者負担)", 2 ], [ "着払い(購入者負担)", 3 ]],{}, {class: "select-default"}
              .form-group
                %label
                  配送の方法
                  %span.require 必須
                .select-wrapp
                  %i.icon-arrow-bottom
                  = f.collection_select :sendingmethod_id,  Sendingmethod.all, :id, :name, {include_blank: '----'}, {class: "select-default"}
              .form-group
                %label
                  配送元の地域
                  %span.require 必須
                .select-wrapp
                  %i.icon-arrow-bottom
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: '----'}, {class: "select-default"}
              .form-group
                %label
                  発送までの日数
                  %span.require 必須
                .select-wrapp
                  %i.icon-arrow-bottom
                  = f.select :shippingday_id, [[ "---",""], [ "1~2日で発送", 2 ], [ "2~3日で発送", 3 ],[ "4~7日で発送", 4]],{}, {class: "select-default"}
          .sell__block__form__price
            %h3.sell__price 販売価格(300〜9,999,999)
            = link_to "?", "/jp/help_center/article/68/", class:"form-question",target: "_blank"
            .sell__form__box
              %ul.sell-price
                %li.form-group__price
                  .sell__form__box__price
                    %label
                      価格
                      %span.require 必須
                    .sell-price-input
                      %div
                        ¥　
                        = f.number_field :price, {placeholder: "例）300 ", value:  "",class: "input-default"}
                %li.commission
                  .l-left
                    販売手数料 (10%)
                  .l-right
                    \-
                %li.profit.bold
                  .profit__left
                    販売利益
                  .profit__right
                    \-
          .sell__block__form__btn
            %div
              %p
                = link_to "禁止されている出品", "/jp/help_center/getting_started/,prohibited_items/",target: "_blank",class:"link"
                、
                = link_to "行為", "/jp/help_center/getting_started/,prohibited_conduct/",target: "_blank",class:"link"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "行為", "/jp/help_center/getting_started/,prohibited_goods/",target: "_blank",class:"link"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to "加盟店規約", "/jp/seller_terms/",class:"link"
                に同意したことになります。
                = f.submit "出品する",class: "btn-default__btn-red"
                = f.submit "もどる", class: "btn-default__btn-gray"
  %footer.footer
    %ul.footer__bar
      %li
        = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/",class:"footer__link"
      %li
        = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/",class:"footer__link"
      %li
        = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/",class:"footer__link"
    = link_to "https://www.mercari.com/jp/" do
      = image_tag 'logo_gray.svg', alt: 'mercari', height: '64', width: '80', class: 'single-footer-logo'
    %p
      %small © Mercari, Inc.